.row
  .span5.offset3
    .well
      %h2 Sign up
      = bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = f.email_field :email
        = f.password_field :password
        = f.password_field :password_confirmation
        = f.submit "Sign up"
      = render "links"
