- if Rails.env.production?
  :erb
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-4862463705347014";
      /* rectangle */
      google_ad_slot = "8928145479";
      google_ad_width = 300;
      google_ad_height = 250;
      //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
&nbsp;
