- if Rails.env.production?
  :erb
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-4862463705347014";
      /* first_unit */
      google_ad_slot = "3380815726";
      google_ad_width = 160;
      google_ad_height = 600;
      //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
- else
  %div{:style => 'width:160px;height:600px;background-color:lightgray;'}
&nbsp;
