.row
  .span11
    .hero-unit
      %h1 You bet, I want to contribute!
.row
  .span2
    = render 'shared/adsense_v'
  .span4
    = render Post.offset(20).limit(5)
  .span3
    %p Great! Take a look at these ways to get involved:
    %h2 Spread the word
    %p Tell the world about us! There are more than 7,000 currently serving PCVs, spread out all over the world. Wouldn't it be fun to hear from them? Let 'em know we're here, whether it's via SMS, chat, email, Facebook, Twitter, signal fire, or hunting horn.
    %h2 SMS Gateway
    %p How many times have you been sitting in your house/room/hut/cave/tent/shack/shanty/yurt... (you get the idea) and thought <em>FMPCL, I wish I could share this with someone</em>. Guess what? That's right, now you <strong>can</strong>!
    %p Actually, you can, provided you've got internet access. Hm, this is a problem in my hut/cave/tent/shack/shanty/yurt... If you're one of the luck few with that <strong>golden ethernet cable</strong>, consider buying a second SIM card and sending us the number. We'll pass your number on to people who view the site in your country. They send the text to you, you post it for the world. Pretty slick, no?
    %p Just shoot us an email, to involve@fmpcl.com. We'll get back to you with further instructions!
  .span2
    = render 'shared/adsense_v'
