.row
  .span7
    .well
      %h1 How about a nice big mug of legalese?
      %p Ick, no thanks. I'll head #{link_to 'back to the fun', root_path}, if you don't mind. (We don't, for the record.)
    .row
      .span2
        = render 'shared/adsense_v'
      .span5
        = render Post.first
        .hero-unit
          %p This website is a <strong>HUMOROUS</strong> site: a home for <strong>COMEDY</strong>. If something you find here offends you, please direct your attention elsewhere. It is run by individuals who have served <strong>HAPPILY</strong> with the United States Peace Corps, and would highly recommend it. They also dearly love their host families, and FMPCL moments are NOT meant to reflect negatively on any PCV's country of service.
        = render Post.offset(20).limit(1)
  .span4
    .hero-unit
      %p This site is in no way affiliated with the #{link_to 'United States Peace Corps', 'http://peacecorps.gov'}, nor should the <strong>HUMOROUS</strong> anecdotes (FMPCLs) shared here be taken as criticisms of the United States Peace Corps, it's administration, or the various countries in which it is active.
    = render Post.last
    .hero-unit
      %p Whew. That ought to do it for pseudo-legal mumbo-jumbo. Now just relax and #{link_to 'enjoy the site', root_path}, would you?
