.row
  .span2
    = render 'shared/adsense_v'
  .span4
    %dl
      %dt AdSep, Admin Sep
      %dd Administrative Separation
      %dt APCD
      %dd Assistant Peace Corps Director
      %dt CD
      %dd Country Director
      %dt COS
      %dd Close of Service
      %dt
        %em douche
      %dd Toilet, a la French-speaking West Africa
      %dt ET
      %dd Early Termination
      %dt PCMO
      %dd Doctor
      %dt PCV
      %dd Peace Corps Volunteer
      %dt VICA
      %dd Volunteer In-Country Allowance
      %dt Wack-a-vac
      %dd Psychological evacuation
  .span3
    %h1 Glossary
    %p PCWa loves acronyms, and PCVs love slang. This should get you off the ground, whether you're a young PCV, friends and family Stateside, or an RPCV.
  .span2
    = render 'shared/adsense_v'
