.row
  .span5.offset3
    .well
      %h2 Sign in
      = bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        = f.email_field :email
        = f.password_field :password
        - if devise_mapping.rememberable?
          = f.check_box :remember_me
        = f.submit
      = render "links"
