= bootstrap_form_for @post, :remote => true do |f|
  = f.text_area :body, :class => 'span4', :rows => 6, :maxlength => '255', :help_inline => '255 chars max', :label => 'Share your FMPCL moment! Today...FMPCL!'
  = f.select :country, pc_countries, :class => 'span4', :label => 'Your country of service'
  - unless user_signed_in?
    .control-group
      = gotcha :gotcha_type => :sum, :label_options => { :class => 'control-label' }
      %span.help_inline{:rel => 'popover-top', :title => "What's with this?", 'data-content' => "This is a CAPTCHA, designed to stop non-humans from posting. I know, it's very unfair."}
        %strong &nbsp;?
      %p.help-block I hate math! I'd rather #{link_to 'sign up', new_user_registration_path}!
  = f.submit :value => 'Post it now!', :disable_with => 'posting now...', :class => 'btn btn-primary'
