%blockquote.post{:id => post.id}
  = button_to raw('&times;'), post, :method => :delete, :class => 'close' if can? :destroy, post
  %p
    = post.body
  %h4
    = post.country
    %small
      = time_ago_in_words(post.created_at)
      ago
      &nbsp;
      &nbsp;
      = link_to post do
        view
        &rarr;
  .btn-group
    = link_to post.upvotes, rating_posts_path(:sort => 'DESC'), :class => 'btn btn-mini btn-success upvote_count'
    = link_to 'Yep, that sucks!', upvote_post_path(post), :method => :put, :class => 'btn btn-mini', :remote => true
  .btn-group
    = link_to post.downvotes, rating_posts_path(:sort => 'ASC'), :class => 'btn btn-mini btn-danger downvote_count'
    = link_to "FMPCL, really?", downvote_post_path(post), :method => :put, :class => 'btn btn-mini', :remote => true
  :erb
    <div class="fb-like" data-href="<%= post_url(post) %>?utm_source=Facebook&utm_medium=online&utm_campaign=Facebook%2BIndividual%2BLike%2BButtons" data-send="true" data-layout="button_count" data-width="90" data-show-faces="true" data-font="arial"></div>
%hr.clear-both
