<% if !user_signed_in? && !gotcha_valid? %>
  $('form#new_post').prepend('Oh dear. Check your math.');
<% elsif @post.errors.any? %>
  $('form#new_post').prepend("Uh oh. Is your post blank, or a duplicate?");
<% else %>
  // $('#posts_feed').prepend("<%= escape_javascript(render(@post))%>");
  $('#post_body').val('');
  $('#post_country').val('');
  //alert('test');
<% end %>
