.row
  .span11
    .hero-unit
      = link_to 'Share it now!', new_post_path, :class => 'btn btn-large btn-primary float-right'
      %h1 Know something funny?
      %p It's never too late to share your shame! Trust us, everyone else will enjoy it.
    %h3= @message ||= 'Already shared? Welcome to the archives. Enjoy yourself.'
    %hr
.row
  .span4
    = render @posts.values_at(* @posts.each_index.select {|i| i.even?})
    &nbsp;
  .span4
    = render @posts.values_at(* @posts.each_index.select {|i| i.odd?})
    &nbsp;
  .span2.offset1
    - 2.times do
      = render 'shared/adsense_v'
.row
  .span11
    = will_paginate :class => 'pagination pagination-centered'
