.row
  .span11
    .hero-unit
      = link_to 'Share something now!', '#post_it_now', :class => 'float-right btn btn-large btn-success'
      %h1 F*** My Peace Corps Life.
      %p
        Some days, all you can do is laugh.
      :erb
        <div class="fb-like" data-href="http://bit.ly/IUaU2b" data-send="true" data-width="450" data-show-faces="false" data-font="arial"></div>
.row
  .span2
    - if can? :manage, Post
      .hero-unit
        %p.center Posts
        %h1.center= Post.count
      .hero-unit
        %p.center Users
        %h1.center= User.count
    - 3.times do
      = render 'shared/adsense_v'
  .span4
    #posts_feed
      = render @posts
  .span5
    .alert.alert-block.alert-success
      %h4 Hey you! Yeah, you!
      %p Share an FMPCL moment, whether your COS date is 20 years past or 2 away! It's never too late!
    .well#post_it_now
      = render 'form'
    - ip_hash = request.remote_ip.split('.')
    - if ip_hash[0].to_i == 41
      - if ip_hash[1].to_i == 82
        -if 63 < ip_hash[2].to_i && ip_hash[2].to_i < 170
          - country = 'Senegal'
    - if country
      .alert.alert-block.alert-success
        %h4.alert-heading Text us from the vil!
        %p Hey, it looks like you're in #{country}! Send a text/SMS to <strong>77 750 7234</strong> and it'll show up here! Cool!
    - else
      .alert.alert-block.alert-info
        %p Sorry, but we don't currently have SMS service in your country. Want it? #{link_to 'Find out how', contribute_path}.
    -#.alert.alert-block.alert-info
      %h3.center
        We're here, and we're listening! Stay tuned for feedback/ratings in the next 48 hours... Meanwhile, please direct all site feedback to involve@fmpcl.com.
    .alert.alert-block.alert-warning
      %h4.center
        This site is a place for humor and sharing; if you don't like it, please refrain from attacking those who choose to participate. For more info, read the #{link_to 'disclaimer', disclaimer_path}.
    %h2 What's with this site?
    %p Don't things happen to you every now and then as PCVs that are just too weird, uncomfortable, or unbelievable to not share? The two of us behind this site served in West Africa, and we'd like to hear all of your FMPCL moments. Share away!
    %h2 Confused?
    %p Check out the #{link_to 'glossary', glossary_path} if you're finding any tricky acronyms or veiled speech.
    %h2 Do I need an account?
    %p Absolutely not! Just solve the basic math and post away! If you want to avoid the math (we can't blame you) go ahead and create an account. We don't ask for (or want) your name, location or phone number. All you need is an email with which to authenticate yourself.
.row
  .span8.offset2
    = will_paginate :class => 'pagination pagination-centered'
