.row
  .span11
    .hero-unit
      %span.float-right
        = link_to 'leave your own', new_post_path, :class => 'btn btn-large btn-primary'
        = link_to 'read them all', posts_path, :class => 'btn btn-large btn-success'
      %h1 Does this make you laugh? Cry?
      %span.clearfloat &nbsp;
.row
  .span2
    = render 'shared/adsense_v'
  .span4.offset1
    = render @post
    %h1 Also try...
    %hr
    = render Post.offset(Post.count / 2).limit(2).all
  .span2
    = render 'shared/adsense_v'
  .span2
    = render 'shared/adsense_v'
