.hero-unit {
  padding: 40px;
  background-color: lightblue;
  h1 {
    font-size: 40px;
  }
}

blockquote.blockquote-warning {
  border-color: $errorText;
}

.center {
  text-align: center;
}

.clear-both {
  clear: both;
}

.float-right {
  float: right;
}

.btn-group {
  display: inline-block;
}
